<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Latina de Costa Rica</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <script type="text/javascript" src="js/isAuthenticated.js"></script>
    <script type="text/javascript" src="js/dashboard.js"></script>
</head>

<body>
    <header>
        <img src="./img/logo_ulatina.png">
    </header>
    <nav>
        <a href="./dashboard.html">
            <button style="background-color: hsl(78, 100%, 42%);">Inicio</button>
        </a>
        <a href="./course.html">
            <button>Cursos</button>
        </a>
        <a href="./professor.html">
            <button>Profesores</button>
        </a>
        <a href="./subject.html">
            <button>Materias</button>
        </a>
        <a href="./notification.html">
            <button>Notificaciones</button>
        </a>
    </nav>

    <section id="menu">
        <label for="campus">Sede</label>
        <select id="campus" name="campus">
            <script>getCampuses()</script>
        </select>

        <label for="subject">Materia</label>
        <select id="subject" name="subject"
            onchange="getChartData('approved');getChartData('failed');getChartData('dropped')">
            <script>getSubjects()</script>
        </select>

        <h2>Registros</h2>
        <section id="charts">
            <h3>Aprobados</h3>
            <h3>Reprobados</h3>
            <h3>Abandonaron</h3>
        </section>
    </section>


</body>

</html>