<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Latina de Costa Rica</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <script type="text/javascript" src="js/authentication.js"></script>
    <script>checkAuthentication()</script>
    <script type="text/javascript" src="js/dashboard.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>

<body>
    <header>
        <nav class="main-nav">
            <input type="checkbox" id="check" />
            <label for="check" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <img class="logo" src="./img/logo_ulatina.png">
            <ul class="navlinks">
                <li><a href="./dashboard.html" class="choose">Inicio</a></li>
                <li><a href="./course.html">Cursos</a></li>
                <li><a href="./professor.html">Profesores</a></li>
                <li><a href="./subject.html">Materias</a></li>
                <li><a href="./notification.html">Notificaciones</a></li>
                <li><a href="./user.html">Usuarios</a></li>
                <li><a href="#" onclick="signOut()">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <label for="campus">Sede</label>
        <select id="campus" name="campus" onchange="getChartData()">
            <script>getCampuses()</script>
        </select>

        <label for="subject">Materia</label>
        <select id="subject" name="subject" onchange="getChartData()">
        </select>
    </div>
    <div class="containerCharts">
        <h2>Registros</h2>
        <section id="charts">
            <div id="approved">
            </div>
            <div id="failed">
            </div>
            <div id="dropped">
            </div>
        </section>
    </div>
</body>


</html>