<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Latina de Costa Rica</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
</head>

<body>
    <header>
        <img src="img/logo_ulatina.png">
    </header>
    <section>
        <h1>Iniciar sesión</h1>
        <form onsubmit="login(); return false">
            <br>
            <input type="text" id="username" placeholder="Ingrese usuario" maxlength="45" required>
            <br>
            <input type="password" id="password" placeholder="Ingrese contraseña" maxlength="45" required>
            <br>
            <a href="forgot-password.html">¿Olvidó contraseña?</a>
            <br>
            <div class="btnLogin">
                <input type="submit" value="Iniciar sesión">
            </div>
        </form>

    </section>

    <!-- <section>
        <h1>Iniciar sesión</h1>
        <br>
        <input type="text" id="username" placeholder="Ingrese usuario" maxlength="45" required>
        <br>
        <input type="password" id="password" placeholder="Ingrese contraseña" maxlength="45" required>
        <br>
        <a href="notfound">¿Olvidó contraseña?</a>
        <br>
        <div class="btnLogin">
            <button onclick="login()">Iniciar sesión</button>
            <button onclick="">Registrarse</button>
        </div>
    </section> -->
</body>

</html>