<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Latina de Costa Rica</title>
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="js/authentication.js"></script>
    <script>checkAuthentication()</script>
    <script type="text/javascript" src="js/professor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="main-nav">
            <input type="checkbox" id="check" />
            <label for="check" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <img class="logo" src="./img/logo_ulatina.png">
            <ul class="navlinks">
                <li><a href="./dashboard.html">Inicio</a></li>
                <li><a href="./course.html">Cursos</a></li>
                <li><a href="./professor.html" class="choose">Profesor</a></li>
                <li><a href="./subject.html">Materias</a></li>
                <li><a href="./notification.html">Notificaciones</a></li>
                <li><a href="./user.html">Usuarios</a></li>
                <li><a href="#" onclick="signOut()">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <form onsubmit="createProfessor(); return false">
            <label for="fullname">Nombre de Profesor</label>
            <input id="fullname" type="text" placeholder="Nombre completo" maxlength="45" required>
            <label for="identification">Ingrese carné profesor</label>
            <input id="identification" type="text" placeholder="Carné" maxlength="45" required>
            <input type="submit" value="Crear profesor">
            <p id="msg"></p>
        </form>
    </div>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Profesores</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Carné</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="professorTable">
                        <script>getProfessors()</script>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>