<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Latina de Costa Rica</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <script src="js/user.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
</head>

<body>
    <header>
        <img src="img/logo_ulatina.png">
    </header>
    <section>
        <h1>Cambio de contraseña</h1>
        <br>
        <form onsubmit="resetPassword(); return false">
            <input type="password" id="password" placeholder="Ingrese su nueva contraseña" maxlength="45" required>
            <input type="password" id="password2" placeholder="Confirmar contraseña" maxlength="45" required>
            <br>
            <div class="btnLogin">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </section>
</body>

</html>