<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universidad Latina de Costa Rica</title>
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="js/authentication.js"></script>
    <script>checkAuthentication()</script>
    <script type="text/javascript" src="js/user.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />
</head>

<body>
    <header>
        <nav class="main-nav">
            <input type="checkbox" id="check" />
            <label for="check" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <img class="logo" src="./img/logo_ulatina.png">
            <ul class="navlinks">
                <li><a href="./dashboard.html">Inicio</a></li>
                <li><a href="./course.html">Cursos</a></li>
                <li><a href="./professor.html">Profesores</a></li>
                <li><a href="./subject.html">Materias</a></li>
                <li><a href="./notification.html">Notificaciones</a></li>
                <li><a href="./user.html" class="choose">Usuarios</a></li>
                <li><a href="#" onclick="signOut()">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <form onsubmit="register(); return false">
            <label for="fullName">Nombre de usuario</label>
            <input id="fullName" type="text" placeholder="Nombre completo" maxlength="45" required>
            <label for="username">Ingrese correo electrónico</label>
            <input id="username" type="email" placeholder="Correo electrónico" maxlength="45" required>
            <label for="password">Ingrese contraseña</label>
            <input id="password" type="password" placeholder="Contraseña" maxlength="45" required>
            <label for="password2">Confirmar contraseña</label>
            <input id="password2" type="password" placeholder="Confirmar contraseña" maxlength="45" required>
            <input type="submit" value="Crear usuario">
            <p id="msg"></p>
        </form>
    </div>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>Usuarios</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody id="userTable">
                        <tr>
                            <script>getUsers()</script>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>