section * {
    margin: 0.5%;
    padding: 0.5%;
}

section select {
    width: 10%;
}

#charts {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-start: auto;
    justify-content: left;
}
#charts * {
    margin: 1%;
}