section {
    display: grid;
}

section * {
    margin: 0.5%;
    padding: 1%;
}

section h1 {
    margin-top: 2%;
    text-align: center;
}

section a {
    text-decoration: none;
}

section a:hover {
    font-weight: bolder;
}
section form{
    text-align: center;
}
section form input{
    text-align: center;
}

div {
    text-align: center;
}

.btnLogin input{
    text-align: center;
}

img{
  width: 20%;
}


@media (max-width: 1281px) {
    img{
        width: 25%;
      }
  }

  @media (max-width: 600px) {
    img{
        width: 40%;
      }
  }
  
  @media (max-width: 360px) {
    img{
        width: 50%;
      }
  }