section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

section * {
    padding: 0.5%;
    margin: 0.5%;
}

input{
    display: block;
    width: 30%;
}

#forgotPassword {
    margin: 1%;
}

button {
    width: 30%;
    display: block;
}