section {
    display: grid;
    grid-template-columns: 25%;
    justify-content: center;
    margin-top: 5%;
}

section * {
    margin: 0.5%;
    padding: 3%;
}

section h1 {
    justify-self: center;
}

section a {
    text-decoration: none;
}

section a:hover {
    font-weight: bolder;
}

div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.btnLogin button{
  padding: 10px;
  margin: 10px;
}

img{
  width: 20%;
}