* {
  margin: 0;
  padding: 0;
}

header {
    height: 5%;
    background-color: hsla(240, 1%, 31%, 0.522);
}

header img {
    width: 25%;
    height: auto;
}

button {
    background-color:hsl(78, 100%, 42%);
    color: black;
  }

  button:hover {
    background-color:hsl(78, 90%, 52%);
    font-weight: bolder;
  }

  nav {
    width: 50%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 1%;
  }

  nav * {    
    padding: 1%;
    border-radius: 30px;
  }

  nav button {
    background-color: white;
    padding: 8%;
    text-decoration: none;
    border-radius: 30px;
    width: 100%;
  }

  nav button:hover {
    border-radius: 30px;
  }